.card {
    width: 252px;
    height: 252px;
    overflow: hidden !important;
    border: none;
}

.card:hover {
    background-color: #097d4c !important;
    color: #f1ead1 !important;
}

.card-title {
    text-decoration: none;
    overflow: hidden !important;
    height: 250px;
    width: 252px;
    border: solid #78c2ad 1px;
    border-radius: 10px;
    background-color: transparent;
}