.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.greeting{
    text-align: center;
}

#add-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    /* background-color: #000000; */
}

#btn-add-custom, #pizza-guy, #pepper-guy {
    position: absolute;
}

#btn-add-custom {
    width: 150px;
    top: -3px;
    z-index: 1;
}

#pizza-guy {
    left: 0;
    top: -37px;
}

#pepper-guy {
    right: 0;
    top: -73px;
}

.border-secondary:focus {
    border: none;
}

input#search-library {
    background-color: #fcfcfc47;
}

h1 {
    font-family: "Caprasimo", serif;
}