#profile-card {
    box-shadow: 10px 5px 5px #097d4c;
    border: 3px solid #097d4c;
    padding: 45px;
    border-radius: 50px;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

#profile-pic {
    border-radius: 35px;
    overflow: hidden;
}

#user-name {
    color: #097d4c;
    font-size: 60px !important;
}

#user-stats {
    text-align: center;
}

#preview {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

h1, h3 {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}