.recipe-container {
    display: flex;
    flex-direction: row;

}

.card-container {
    display: flex;
    justify-content: space-between;
    /* align-content: flex-start; */
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

input#queryText {
    background-color: #fcfcfc47;
}
